---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import me from "../images/me.png";
---

<BaseLayout title="Home: Elivale">
    <div class="hero">
        <div class="hero-text">
            <h1 class="title">Hi there! I'm Kirill.</h1>
            <p>
                I am 17 year old coder studying Front-End development at <a
                    href="https://it-college.ru">IT College</a
                > at Russia, Yekaterinburg
            </p>
        </div>

        <Image
            src={me}
            alt="The picture of me."
            class="img-me"
            densities={[3]}
            width={300}
        />
    </div>
</BaseLayout>

<style>
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 128px;
        gap: 64px;
    }
    .hero-text {
        max-width: 500px;
    }

    .title {
        font-size: 24px;
    }

    .img-me {
        border-radius: 100%;
        border: 4px solid var(--link);
    }
</style>
