---
import "@fontsource-variable/roboto-mono";
import { Image } from "astro:assets";
import TelegramIcon from "../components/icons/TelegramIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import cat from "../images/cat.png";

const { title } = Astro.props;
---

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <nav>
                <Image
                    src={cat}
                    alt="A cat."
                    class="logo"
                    width={48}
                    height={48}
                    densities={[4]}
                    loading="eager"
                />
                <span class="logo-text">Elivale</span>

                <div class="links">
                    <a href="/">/home</a>
                    <a href="/blog">/blog</a>
                </div>
            </nav>

            <div class="socials">
                <a href="https://t.me/eliva1e">
                    <TelegramIcon />
                </a>
                <a href="https://github.com/eliva1e">
                    <GitHubIcon />
                </a>
            </div>
        </header>
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    :root {
        --text: #f3f3f3;
        --bg: #171717;
        --link: #4af498;
    }

    * {
        font-family: "Roboto Mono Variable", monospace;
    }

    body {
        color: var(--text);
        background-color: var(--bg);
    }

    a {
        color: var(--text);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 32px 128px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    .logo {
        border-radius: 100%;
    }
    
    .logo-text {
        font-size: 20px;
        font-weight: bold;
    }

    .links {
        display: flex;
        gap: 16px;
        margin-left: 24px;
    }
    .links a {
        color: #4af498;
    }

    .socials {
        display: flex;
        gap: 16px;
    }
    .socials * {
        transition: transform 0.2s;
    }
    .socials *:hover {
        transform: translateY(-5px);
    }
</style>
